{% extends 'main/base.html' %}
{% load static %}
{% block content %}

				<section class="page_title ds s-pt-120 s-pb-50 s-pt-lg-130 s-pb-lg-90 page_title s-parallax s-overlay">
					<div class="divider-55 d-none d-lg-block"></div>
					<div class="container">
						<div class="row">

							<div class="col-md-12 text-center text-lg-left">
								<h1 class="color-main">Funeral Planning</h1>
								<ol class=" breadcrumb">
									<li class="breadcrumb-item">
										<a href="/">Home</a>
									</li>
									<li class="breadcrumb-item">
										<a href="#">Pages</a>
									</li>
									<li class="breadcrumb-item active">
										Funeral Planning
									</li>
								</ol>
							</div>

						</div>
					</div>
				</section>
			</div>
			<section class="ls s-py-60 s-py-lg-100 s-py-xl-150">
				<div class="container">
					<div class="row">
						<!-- <main class="offset-lg-1 col-lg-10"> -->
						<main class="col-lg-12">

							<article class="post side-item text-center text-md-left content-padding box-shadow event-post">
								<div class="row">
									<div class="col-xl-3 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="{% static 'assets/images/gallery/06.jpg' %}" alt="">
											<div class="media-links">
												
											</div>
										</div>
									</div>

									<div class="col-xl-9 col-lg-7 col-md-6">
										<div class="item-content">
											<div class="tagcloud">
												<a href="#" class="tag-cloud-link">
													Funeral
												</a>
											</div>
											<h6 class="entry-title">
												<a href="#">Repatriation/Waiver Services</a>
											</h6>
											
											<p>
												This is when a loved one passes on in another country or overseas with the need to repatriate. We offer repatriation service that provide the guidance and support you need throughout your challenging time, and with all other necessary arrangements and managements.
											</p>
											<a href="mailto:shalomescort@gmail.com" class="read-more btn-small btn btn-maincolor">Contact Us</a>
										</div>
									</div>
								</div>
							</article>

							<article class="post side-item text-center text-md-left content-padding box-shadow event-post">
								<div class="row">
									<div class="col-xl-3 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="{% static 'assets/images/gallery/04.jpg' %}" alt="">
											<div class="media-links">
												
											</div>
										</div>
									</div>

									<div class="col-xl-9 col-lg-7 col-md-6">
										<div class="item-content">
											<div class="tagcloud">
												<a href="#" class="tag-cloud-link">
													Funeral
												</a>
											</div>
											<h6 class="entry-title">
												<a href="#">Floral Array Managements</a>
											</h6>
											
											<p>
												Part of traditional rites in burial ceremony are the arrays of Flowers. Flowers are design to beautify, and also carries the expression of love, sympathy, and respects for the deceased and their bereaved family. The frailty of life are exhibited by Flowers, “Fading Away Like the Stars of the Morning” and they create a background of warmth and sensation. To assist you in your floral needs, we work with a touch of professional Florists.
											</p>
											<a href="mailto:shalomescort@gmail.com" class="read-more btn-small btn btn-maincolor">Contact Us</a>
										</div>
									</div>
								</div>
							</article>

							<article class="post side-item text-center text-md-left content-padding box-shadow event-post">
								<div class="row">
									<div class="col-xl-3 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="{% static 'assets/images/gallery/02.jpg' %}" alt="">
											<div class="media-links">
												
											</div>
										</div>
									</div>

									<div class="col-xl-9 col-lg-7 col-md-6">
										<div class="item-content">
											<div class="tagcloud">
												<a href="#" class="tag-cloud-link">
													Funeral
												</a>
											</div>
											<h6 class="entry-title">
												<a href="#">The Order Of Funeral Service</a>
											</h6>
											
											<p>
												Order of Service are processions in which the Funeral Service will run. They are prepared by the Church with input from the deceased family; a copy is then emailed, or brought to the Funeral Home. The Funeral Home uses the Order of Service to prepare the memorial hymnals. The Order of Service includes the hymns/songs, tributes, pallbearers, ushers, photos, and any personal notes from the family printed in hardcopy.
											</p>
											<a href="mailto:shalomescort@gmail.com" class="read-more btn-small btn btn-maincolor">Contact Us</a>
										</div>
									</div>
								</div>
							</article>

							<article class="post side-item text-center text-md-left content-padding box-shadow event-post">
								<div class="row">
									<div class="col-xl-3 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="https://funeraldirectors.co.nz/assets/SitemapImages/plant-flower-spring-chapel-married-flowers-270502-pxhere__ResizedImageWzgwMCw1NTRd.com.jpg" alt="">
											<div class="media-links">
												
											</div>
										</div>
									</div>

									<div class="col-xl-9 col-lg-7 col-md-6">
										<div class="item-content">
											<div class="tagcloud">
												<a href="#" class="tag-cloud-link">
													Funeral
												</a>
											</div>
											<h6 class="entry-title">
												<a href="#">Dressing Your Loved One (The Deceased)</a>
											</h6>
											
											<p>
												Clothing must include: Dress (with sleeves), Suit & inside shirt, Boxers/panties, Bra/Camisole Socks/Stockings, Accessories such as earrings, necklaces, tie, etc. You may opt on your Interest of attire and adornment, as you have the choices to make too
											</p>
											<a href="mailto:shalomescort@gmail.com" class="read-more btn-small btn btn-maincolor">Contact Us</a>
										</div>
									</div>
								</div>
							</article>

							<article class="post side-item text-center text-md-left content-padding box-shadow event-post">
								<div class="row">
									<div class="col-xl-3 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="{% static 'assets/images/gallery/07.jpg' %}" alt="">
											<div class="media-links">
												
											</div>
										</div>
									</div>

									<div class="col-xl-9 col-lg-7 col-md-6">
										<div class="item-content">
											<div class="tagcloud">
												<a href="#" class="tag-cloud-link">
													Funeral
												</a>
											</div>
											<h6 class="entry-title">
												<a href="#"> The Peace In Transition</a>
											</h6>
											
											<p>
												We believe that our loved ones who have departed in death, deserves to be laid to rest peacefully. While the memorial flame, are those memories of loved ones treasured you may periodically want to remember. Assuredly, we keep the Memorial Flame burning, a candle light for your loved ones.
											</p>
											<a href="mailto:shalomescort@gmail.com" class="read-more btn-small btn btn-maincolor">Contact Us</a>
										</div>
									</div>
								</div>
							</article>

							<article class="post side-item text-center text-md-left content-padding box-shadow event-post">
								<div class="row">
									<div class="col-xl-3 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="{% static 'assets/images/gallery/09.jpg' %}" alt="">
											<div class="media-links">
												
											</div>
										</div>
									</div>

									<div class="col-xl-9 col-lg-7 col-md-6">
										<div class="item-content">
											<div class="tagcloud">
												<a href="#" class="tag-cloud-link">
													Funeral
												</a>
											</div>
											<h6 class="entry-title">
												<a href="#">Obituary and Condolences</a>
											</h6>
											
											<p>
												In some occasion, your earnest desire to paying your last respect in person may proof abortive, we d’ understand it’s not always possible. Therefore we trust that our features in the obituary gallery will help you connect and send your condolences in honor of your deceased friend or relative. To achieve this, view the list of obituaries and search for your loved one by clicking the button below. 
											</p>
											<a href="mailto:shalomescort@gmail.com" class="read-more btn-small btn btn-maincolor">Contact Us</a>
										</div>
									</div>
								</div>
							</article>

							<article class="post side-item text-center text-md-left content-padding box-shadow event-post">
								<div class="row">
									<div class="col-xl-3 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="{% static 'assets/images/gallery/222.jpg' %}" alt="">
											<div class="media-links">
												
											</div>
										</div>
									</div>

									<div class="col-xl-9 col-lg-7 col-md-6">
										<div class="item-content">
											<div class="tagcloud">
												<a href="#" class="tag-cloud-link">
													Funeral
												</a>
											</div>
											<h6 class="entry-title">
												<a href="#">Funeral Activity/Planning</a>
											</h6>
											
											<p>
												Except otherwise, where applicable; a group, agency or an organization may choose to do so on behalf of the deceased family respectfully; otherwise, funeral activities are personal task undertaken by the relations of the deceased. It provides armful opportunity for family, friends and other acquaintances to assemble together in honor of the person who died, and to pay their last respect. It also facilitates provision for supportive measures to aid relieves for the immediate bereaved family.
											</p>
											<a href="mailto:shalomescort@gmail.com" class="read-more btn-small btn btn-maincolor">Contact Us</a>
										</div>
									</div>
								</div>
							</article>

							<article class="post side-item text-center text-md-left content-padding box-shadow event-post">
								<div class="row">
									<div class="col-xl-3 col-lg-5 col-md-5">
										<div class="item-media cover-image">
											<img src="{% static 'assets/images/gallery/12.jpg' %}" alt="">
											<div class="media-links">
												<a class="abs-link" title="" href="#"></a>
											</div>
										</div>
									</div>

									<div class="col-xl-9 col-lg-7 col-md-6">
										<div class="item-content">
											<div class="tagcloud">
												<a href="#" class="tag-cloud-link">
													Funeral
												</a>
											</div>
											<h6 class="entry-title">
												<a href="#">Memory Flame</a>
											</h6>
											
											<p>
												The memorial flame, are those memories of loved ones treasured you may periodically want to remember. Assuredly, we keep the Memorial Flame burning, a candle light for your loved ones.
											</p>
											<a href="mailto:shalomescort@gmail.com" class="read-more btn-small btn btn-maincolor">Contact Us</a>
										</div>
									</div>
								</div>
							</article>


							

							

						</main>
					</div>
				</div>
			</section>


{% endblock %}